


body{
    background-color: aqua;
}
#cap1{
    font-family: 'Times New Roman', Times, serif;
    background-color: blueviolet;
}
#cap2{
    font-family: 'Times New Roman', Times, serif;
    background-color: maroon;
}
#par{
    font-family: Arial, Helvetica, sans-serif;
}